<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'StockExchanges' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Requests.Configuration')" (click)="createStockExchange()" 
			        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create")}}</button>
            
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <form class="horizontal-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-10">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getStockExchanges()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="m-separator m-separator--dashed"></div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="StockExchangeNameFilter">{{l("StockExchangeName")}}</label>
                                        <input type="text" class="form-control" id="StockExchangeNameFilter" name="stockExchangeNameFilter" [(ngModel)]="stockExchangeNameFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="CountryFilter">{{l("Country")}}</label>
                                        <input type="text" class="form-control" id="CountryFilter" name="countryFilter" [(ngModel)]="countryFilter">
                                    </div>
                                </div>

                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container"
                            [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable
                                        (onLazyLoad)="getStockExchanges($event)"
                                        [value]="primengTableHelper.records"
                                        rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                        [paginator]="false"
                                        [lazy]="true"
                                        [scrollable]="true"
                                        ScrollWidth="100%"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Requests.Configuration', 'Pages.Requests.Configuration')">{{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="stockExchange.stockExchangeName">
                                            {{l('StockExchangeName')}}
                                            <p-sortIcon field="stockExchange.stockExchangeName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="stockExchange.country">
                                            {{l('Country')}}
                                            <p-sortIcon field="stockExchange.country"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>                           
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Requests.Configuration', 'Pages.Requests.Configuration')">
                                            <div class="btn-group dropdown" normalizePosition>
                                                <button class="dropdown-toggle btn btn-sm btn-primary"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                </button>
                                                    <ul class="dropdown-menu">
                                                    <li>
                                                        <a 
                                                            (click)="viewStockExchangeModal.show(record)">{{l('View')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="permission.isGranted('Pages.Requests.Configuration')"
                                                            (click)="createOrEditStockExchangeModal.show(record.stockExchange.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="permission.isGranted('Pages.Requests.Configuration')"
                                                            (click)="deleteStockExchange(record.stockExchange)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                                <span class="ui-column-title"> {{l('StockExchangeName')}}</span>
                                                {{record.stockExchange.stockExchangeName}}
                                            </td>
                                        <td style="width:150px">
                                                <span class="ui-column-title"> {{l('Country')}}</span>
                                                {{record.stockExchange.country}}
                                            </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                            #paginator
                                            (onPageChange)="getStockExchanges($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    <createOrEditStockExchangeModal #createOrEditStockExchangeModal (modalSave)="getStockExchanges()"></createOrEditStockExchangeModal>
    <viewStockExchangeModal #viewStockExchangeModal></viewStockExchangeModal>
    </div>
</div>