<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #requestApprovalForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="requestApproval.id">{{l("EditRequestApproval")}}</span>
                        <span *ngIf="!requestApproval.id">{{l("CreateNewRequestApproval")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="RequestRequestNo">{{l("Request")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="RequestRequestNo" name="requestRequestNo" [(ngModel)]="requestRequestNo" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectRequestModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setRequestIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestApproval.requestId" [(ngModel)]="requestApproval.requestId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setApproverIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestApproval.approverId" [(ngModel)]="requestApproval.approverId" type="text"  hidden>
		 

								<div class="form-group m-form__group row">
									<label for="RequestApproval_ApprovalSentTime"  class="col-md-12">{{l("ApprovalSentTime")}}</label>
									<div class="col-lg-10 col-md-9 col-sm-8">
										<input class="form-control m-input" type="datetime" 
                                        bsDatepicker datePickerMomentModifier [(date)]="requestApproval.approvalSentTime" id="RequestApproval_ApprovalSentTime">
									</div>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="RequestApproval_Approved" class="m-checkbox">
										<input id="RequestApproval_Approved" type="checkbox" name="Approved" [(ngModel)]="requestApproval.approved"> 
										{{l("Approved")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group m-form__group row">
									<label for="RequestApproval_ApprovedTime"  class="col-md-12">{{l("ApprovedTime")}}</label>
									<div class="col-lg-10 col-md-9 col-sm-8">
										<input class="form-control m-input" type="datetime"
                                            bsDatepicker datePickerMomentModifier [(date)]="requestApproval.approvedTime" id="RequestApproval_ApprovedTime">
									</div>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!requestApprovalForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<requestLookupTableModal #requestLookupTableModal (modalSave)="getNewRequestId()"></requestLookupTableModal>
		 <userLookupTableModal #userLookupTableModal (modalSave)="getNewApproverId()"></userLookupTableModal>
		 
</div>